@use '/src/styles/constants/colors';

.main {
  h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 55px;
  }

  .recordList {
    .exerciseItem {
      display: inline-block;
      width: 48%;
      height: 240px;
      padding: 23px;
      margin-top: 10px;
      border: 1px solid #aaaaaa;
      border-radius: 10px;

      &:nth-child(2n) {
        margin-left: 2%;
      }

      .imgWrap {
        width: 80px;
        height: 80px;
        margin-bottom: 25px;
        background-color: #eeeeee;
        border-radius: 10px;

        .exerciseIcon {
          width: 80px;
          height: 80px;
          padding-top: 10px;
          fill: #000000;
        }
      }

      .en {
        margin-bottom: 8px;
        font-size: 22px;
      }

      .ko {
        margin-bottom: 8px;
        font-size: 14px;
        color: colors.$GRAY6;
      }

      .record {
        font-size: 16px;
        color: colors.$GRAYA;
      }
    }
  }

  .surveyLink {
    display: flex;
    width: 60%;
    padding: 15px 0;
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
    border: 2px solid #cccccc;
    border-radius: 10px;

    .link { display: block; width: 100%; }
  }
}
